{% extends 'base.html.twig' %}
{% block body %}

  {% for message in app.flashes('notice') %}

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  
<div class="text-center">
  <strong>
  
 <div class="flash-notice">
 {{ message }}
 </div>
  </strong>
</div>

  {% endfor %}

</div>



<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="text-center text-primary p-4">Liste des utilisateurs</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 bg-dark p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">nom</th>
                            <th scope="col">prenom</th>
                            <th scope="col">date Inscription </th>
                            <th scope="col">date de naissance</th>
                            <th></th>

                        
                        </tr>
                    </thead>
                    <tbody>
                    {% for utilisateur in utilisateurs %}
                    <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                        <td>{{utilisateur.nom |capitalize }}</td>
                        <td>{{utilisateur.prenom|capitalize }}</td>
                        <td>{{utilisateur.dateInscription |date('d/m/Y') }}</td>
                        <td>{{utilisateur.dateNaissance |date('d/m/Y') }}</td>
                        <td>
                            <a href="{{path('modif_utilisateur',{'id':utilisateur.id})}}">
                                <span class="material-icons" title="Modifier un utilisateur"> create </span>
                            </a>
                        </td>
                        <td>
                            <a href="{{path('liste_utilisateur',{'supp':utilisateur.id})}}">
                                <span class="material-icons" title="supprimer cette utilisateur"> delete </span>
                            </a>
                        </td>
                         <td>
                            <a href="{{path('user-profil',{'id':utilisateur.id})}}">
                                <span class="material-icons" title="profil cette utilisateur"> account_circle </span>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 </div>
 </div>
</div>

 {% endblock %}